<% if current_user %>
  <script type="text/javascript">
    window.location.href = '/pacientes' // put your correct path in a string here
  </script>
<% else %>
  <div class="row">
    <div class="col-12 logo">
      <%= image_tag "logo.png", alt: "Logo" %>
    </div>
  </div>
  <div class="row">
    <div class="navi col-12">
      <div class="nav-box">
        <%= link_to "Iniciar sesion", login_path %>
        |
        <%= link_to "Registrate", signup_path %>
      </div>
    </div>
  </div>
  <div class="row right-txt">
    <div class="col-12">
      <p>Concentrate en los pacientes.</p>
      <p>Nosotros nos encargamos del resto.</p>
    </div>
  </div>
<% end %>
