<div class="login-container">
  <div class="supp-lightbox">
    <div class="wrapper">
      <div class="row">
        <div class="col-12">
          <h2>
            Welcome! <br />
            Add a new patient!
          </h2>
        </div>
      </div>
      <%= render "form" %>
    </div>
  </div>
</div>

