/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "normalize";
@import "furatto";
@import "font-awesome";


.doc-bg {
  background: url(doctors.jpg) no-repeat bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}
.logo {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navi {
  color: #3d50c0;
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
}
.navi a:hover {
  text-decoration: underline;
  color: #3f59c9;
}
.right-txt {
  font-weight: 600;
  font-size: 48px;
  text-align: right;
  color: #FFF;
  padding-top: 1em;
}
.nav-box {
  background-color: rgba(255,255,255,0.3);
  border-radius: .2em;
  height: 1.8em;
  width: 12.5em;
  margin: 0 auto;
  padding-top: .6em;
}
.navbar .nav .logo-small {
  color: #b82026 !important;
}
.nav li:hover {
 background-color: rgba(255,255,255,0.3);
}
.login-container {
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: auto;
}
.login-container .supp-lightbox {
  background: #fff;
  width: 60%;
  margin: 6% auto;
  padding: 4%;
  border-radius: 5px;
  text-align: center;
}
.no-margin {
  margin: 0;
}
.go-back {
  margin: 0;
  padding: 0;
}
.go-back a {
  color: #999;
}
.pepito {
  background-color:#F0F0F0;  
  border-radius: 7px;
}

.pepito2 {
  background-color:#E8E8E8;
  margin-bottom: 1em;
}

.pepito3 {
  background-color:#E0E0E0;  
}


@media only screen and (max-width: 650px)  {
  .right-txt {
    font-size: 30px;
  }
}
@media only screen and (max-width: 450px)  {
  .wrapper {
    width: 100%;
  }
  .right-txt {
    font-size: 24px;
  }
}

